.links {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
}

.breadcrumb-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;

  
}
.breadcrumb-link {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.link-breadcrumb{
    color: #000;
    text-align: center;
    font-family: Cormorant Garamond;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    letter-spacing: -0.176px;
    text-decoration: none;
}
.breadcrum-strelka {
  width: 14px;
  height: 14px;

}
