.golden-btn {
    height: 51px;
    border-radius: 15px;
    border: 1.5px solid var(--Light-grey, #c2c2c2);
    background: var(
      --Gold-gradient,
      linear-gradient(
        99deg,
        #fff0bf -10.68%,
        #efc990 18.14%,
        #fdd292 43.87%,
        rgba(240, 199, 73, 0.42) 81.17%,
        #d4af37 100%
      )
    );
    box-shadow: 0px 0px 4.5px 0px #c2c2c2;
    color: var(--Black, #232221);
    font-family: Cormorant Garamond;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.275px;
    margin-bottom: 40px;
  }
  .margin-bottom-contact{
    margin-bottom: 40px;
  }