.registerOne{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--Light-ribbon-pink, #FFF6F6);
}
.logo-pic-register-one{
    width: 180px;
height: 38.446px;
flex-shrink: 0;
margin-top: 150px;
margin-bottom: 85px;
}
.registerTwo-text{
    text-decoration: none;
   
}
.ili{
    color: var(--Black, #232221);
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 30px;
}
.logIn-register-one{
    color: var(--Black, #232221);
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration: none;
}
.logirajse-register-one{
    color: var(--Fancy-olive, #8A8328);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
   
}
.sitePrava-register-one{
    margin-top: 400px;
}