.firstimg {
  width: 300px;
  height: 334.167px;
  border-radius: 6.51px;
  box-shadow: 0px 0px 1.953px 0px rgba(0, 0, 0, 0.25);
  margin-left: 65px;
  margin-bottom: 30px;
}
.header-contact {
  color: var(--Black, #232221);
  text-align: center;
  font-family: Century;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: -0.242px;
}
.desc-contact {
  color: var(--Black, #232221);
  text-align: center;
  font-family: Cormorant Garamond;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.176px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
.address-contact {
  color: var(--Black, #232221);
  text-align: center;
  font-family: Cormorant Garamond;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.176px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
.telephone-number-contact {
  color: #000;
  font-family: Cormorant Garamond;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -0.242px;
  text-align: center;
  margin-bottom: 30px;
}
.telephone-contact {
  color: #000;

text-align: center;
font-family: Cormorant Garamond;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 160%; /* 35.2px */
letter-spacing: -0.242px;
}
.telephone-number {
  color: var(--Black, #232221);
  text-align: center;
  font-family: Cormorant Garamond;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.176px;
  margin-bottom: 30px;
}
.working-time-contact{
  color: var(--Black, #232221);
  text-align: center;
  font-family: Cormorant Garamond;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 35.2px */
  letter-spacing: -0.242px;
  margin-bottom: 10px;
}
.working-days-contact {
  color: var(--Black, #232221);
font-family: Cormorant Garamond;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 160%;
letter-spacing: -0.242px;
text-align: center;
  
}
.working-days-last-contact{
  color: var(--Black, #232221);
  font-family: Cormorant Garamond;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -0.242px;
  text-align: center;
  margin-bottom: 50px;
}