.product-details{
  margin-left: 30px;
  margin-right: 30px;
}
.Product-header{
    color: var(--Black, #232221);
text-align: left;
font-family: Century;
font-size: 27px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 33px */
letter-spacing: -0.242px;
}
.product-detail-img{
    width: 100%;
}
.product-price-details{
    color: var(--Black, #232221);
font-family: Century;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 33px */
letter-spacing: -0.242px;
margin-top: 10px;
}
.product-desc-details{
    color: var(--Black, #232221);
font-family: Cormorant Garamond;
font-size: 19px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
letter-spacing: -0.176px;
}
.button-details-add{
    width: 180px;
height: 40px;
flex-shrink: 0;
border-radius: 12.127px;
border: 1.213px solid var(--Light-grey, #C2C2C2);
background: var(--Ribbon-pink, #FFDBDB);
box-shadow: 0px 0px 3.638px 0px #C2C2C2;
margin-right: 15px;
}

.bg-heart-color-details{
    background-color: red;

}

.horisontall-rule-detais{

    height: 0.674px;
    background: linear-gradient(99deg, #FFF0BF -10.68%, #EFC990 18.14%, #FDD292 43.87%, rgba(240, 199, 73, 0.42) 81.17%, #D4AF37 100%);
}
.velicina-flex{
    display: flex;
    align-items: center;
}
.size-details{
    margin-right: 10px;
    color: var(--Black, #232221);
font-family: Cormorant Garamond;
font-size: 20px;
font-style: normal;
font-weight: 500;

}
.size-details-size{
    color: var(--Black, #232221);
font-family: Cormorant Garamond;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
letter-spacing: -0.176px;
}
.meintance-details{
    color: var(--Dark-grey, #666560);
font-family: Cormorant Garamond;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
letter-spacing: -0.176px;

}
.look-dimensions{
    text-decoration: underline;
}

.details-color{
    color: var(--Black, #232221);
font-family: Cormorant Garamond;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 30px */
letter-spacing: -0.22px;
}
.korpa-fixed-card{
           position: fixed;
        top: 80%; /* Adjust as needed */
        right: 0;
        transform: translateY(-80%);
        background: var(--Light-ribbon-pink, #FFF6F6);
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

}
.korpa-fixed-srce{
    position: fixed;
    top: 90%; /* Adjust as needed */
    right: 0;
    transform: translateY(-90%);
    background: var(--Light-ribbon-pink, #FFF6F6);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}