.home {
  min-height: 2200px;
 
}
 
.hero-section{
  display: flex; 
  justify-content: flex-end;
  padding-top: 30px;
padding-bottom: 200px;
background: var(--Pink-gradient, linear-gradient(180deg, #FFDBDB 0.05%, #FDFDFD 93.1%, #FDFDFD 110.6%, #8A8328 152.03%));
position: relative;
}
.hero-section-pic{
  width: 90%;
 
}
.section-two-home h2{
  color: #000;
  text-align: center;
  font-family: Cormorant Infant;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: -0.242px;
}
.section-three-home{
  display: flex; 
  justify-content: flex-start;
  padding-top: 30px;
padding-bottom: 200px;
background: var(--Pink-gradient, linear-gradient(180deg, #FFDBDB 0.05%, #FDFDFD 93.1%, #FDFDFD 110.6%, #8A8328 152.03%));
}

.third-section-pic{
  width: 90%;
}

.section-fourth-home{
  display: flex; 
  justify-content: flex-end;
  padding-top: 30px;
padding-bottom: 200px;
background: var(--Pink-gradient, linear-gradient(180deg, #FFDBDB 0.05%, #FDFDFD 93.1%, #FDFDFD 110.6%, #8A8328 152.03%));
}

.fourth-section-pic{
  border-top-left-radius: 125px;
  border-bottom-left-radius: 125px;
  width: 90%;
}